---
import Layout from "../../layouts/Layout.astro";
import Card from "@/components/ui/card.astro";
import ProfileContent from "@/components/profile/ProfileContent.astro";

---

<Layout title="Profile - Atmosphere Conference">
  <div class="w-full">
    <Card class="max-w-2xl mx-auto mt-8 p-8">
      <ProfileContent />
    </Card>
  </div>
</Layout>
