---
import Layout from "../layouts/Layout.astro";
import { Card } from "@/components/ui/card";
import { ProfileContent } from "@/components/ProfileContent";
---

<Layout title="Profile - Atmosphere Conference">
  <div class="w-full">
    <Card className="max-w-2xl mx-auto mt-8 p-8">
      <ProfileContent client:load />
    </Card>
  </div>
</Layout>
