---
import GoodStuff from "@/assets/goodstuff-goose.png";
import { Image } from "astro:assets";
import TicketStubLink from "./TicketStubLink.astro";
---

<div
  data-hero
  class="w-screen ml-[calc(50%-50vw)] mr-[calc(50%-50vw)] px-6 py-8 md:px-10 md:py-8 flex flex-col lg:flex-row bg-white gap-2 md:gap-10 items-center justify-center"
>
  <Image
    data-hero-goose
    class="h-auto lg:w-full max-w-sm w-72"
    src={GoodStuff}
    width={528 * 1.5}
    height={660 * 1.5}
    alt="Conference mascot Goodstuff"
  />
  <div class="flex flex-col gap-2 md:gap-10 content-center items-center">
    <div>
      <h1
        class="text-4xl sm:text-5xl md:text-7xl font-extrabold tracking-tight text-gray-900"
      >
        <span class="text-primary">AT</span>mosphereConf
      </h1>
      <p class="mt-4 text-lg md:text-2xl text-gray-700">
        the global AT Protocol community conference
      </p>
    </div>
    <div
      class="grid grid-cols-[auto_auto] w-fit gap-x-2 text-4xl items-center col-auto font-mono"
    >
      <div
        class="text-gray-500 justify-self-end self-end font-mono uppercase tracking-wider text-base"
      >
        Preshow
      </div><time class="text-4xl">March 26-27 &</time>
      <div
        class="text-gray-500 justify-self-end self-start font-mono uppercase tracking-wider text-base"
      >
        Conference
      </div><time class="text-4xl">March 28-29, 2026</time>
    </div>
    <div
      class="flex
        flex-col
        gap-1
        text-center
        text-pretty"
    >
      <div class="text-xl text-gray-700">
        see you @
        <a
          class="text-blue-600 underline"
          href="https://maps.app.goo.gl/nHrbn1fzRpjv1Udk9">UBC campus</a
        >, Vancouver, BC, Canada ...or <a
          class="text-blue-600 underline"
          href="/remote"
          >remote</a
        >!
      </div>
    </div>
    <TicketStubLink />
  </div>
</div>
